:root{
    --bg: #f5f5f5;
    --text: #111111;
    --primary: #4f46e5;
    --white: #ffffff;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--bg);
    color: var(--text);

    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main{
    flex: 1;
}

header {
    position: sticky;
    top: 0;
    z-index: 1000;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 30px;
    background-color: var(--white);
    color: var(--primary);
    border-bottom: 1px solid transparent;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

nav a{
    text-decoration: none;
    color: var(--primary);
    padding: 20px;
    display: inline-block;
    transition: all 0.3s ease;
    position: relative;
    border-radius: 0 0 10px 10px;
}

nav a:hover{
    background-color: var(--white);
    color: var(--text);
    transform: translateY(10px);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}

nav a::after{
    content: "";
    position: absolute;
    bottom: 18px;
    left: 10%;
    width: 80%;
    height: 3px;
    background-color: var(--primary);
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.3s ease;
}

nav a:hover::after{
    transform: scaleX(1);
}

.logo{
    transition: all 0.3s ease;
}

.logo:hover{
    cursor: pointer;
    transform: scale(1.1);
}

.hero{
    padding: 80px;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

.hero h2{
    font-size: 48px;
    max-width: none;
    color: var(--primary);
}

.hero p{
    font-size: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
    max-width: none;
}

.hero-buttons{
    margin-top: 40px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.hero-buttons a{
    text-decoration: none;
    font-size: 20px;
    padding: 15px 25px;
    display: inline-block;
    border-radius: 10px;
    transition: all 0.3s ease;
    background-color: var(--primary);
    color: var(--white);
}

.hero-buttons a:hover{
    transform: translateY(-8px) scale(1.1);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
}

.footer{
    background-color: var(--primary);
    padding: 25px 40px;
    box-shadow: 0px -8px 10px rgba(0, 0, 0, 0.3);
}

.footer-content{
    max-width: 1300px;
    margin: 0 auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
}

.footer p{
    color: var(--bg);
    font-size: 14px;
}

.footer-links{
    display: flex;
    gap: 50px;
}

.footer-links a{
    text-decoration: none;
    color: var(--bg);
    transition: 0.3s ease;
    position: relative;
}

.footer-links a:hover{
    color: var(--text);
}